@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@300;400;500;700&family=Open+Sans:ital,wght@0,300;0,400;0,500;0,600;0,700;0,800;1,300;1,400;1,500;1,600;1,700;1,800&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Rambla&family=Tinos:ital,wght@0,400;0,700;1,400;1,700&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: poppins;
    background-color: red
}

.container{
    min-width: 300px;
}

.joke-heading{
    padding: 5px 10px;
    min-width: 250px;
    background-color: rgb(33, 17, 54);
    color: #fff;
    text-align: center;
    border: 1px solid white;
}

.joke-section{
    padding: 5px;
    min-width: 250px;
    background-color: #fff;
    background: rgb(18, 104, 104);
    color: #fff;
    border: 1px solid white;
}